.wrap .main .right{
    margin: 60px 0 0 180px;
}
.wrap .main .right .title{
    color: rgb(17, 62, 221);
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(17, 82, 221);
    padding: 5px 5px 5px 0;
}
.wrap .main .right form{
    width: 500px;
    display: flex;
    flex-direction: column;
}
.wrap .main .right form label {
    flex: 1;
    height: 50px;
    line-height: 50px;
}
.wrap .main .right form label input{
    width: 150px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(63, 62, 62);
    padding: 0 5px;

}
.wrap .main .right form label input:hover{
    box-shadow: 0 0 2px rgb(63, 62, 62);
}

.wrap .main .right form label button {
    width: 80px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(63, 62, 62);
}

.success_msg{
    font-size: 14px;
    color: green;
}
.error_msg{
    font-size: 14px;
    color: red;
}