<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <package name="com.ysk.entity"/>
    </typeAliases>
    <mappers>
        <mapper class="com.ysk.mapper.UserMapper"/>
        <mapper class="com.ysk.mapper.RoleMapper"/>
        <mapper class="com.ysk.mapper.BillMapper"/>
        <mapper class="com.ysk.mapper.ProviderMapper"/>
    </mappers>
</configuration>